.cuadrado{
    height: 100px;
    width: 100px;
    background-color: red;
    display: inline-block;
    margin: 20px 10px;
}

.trasladar{

    animation: trasladar1 2000ms infinite ease-in-out;
}


.redimensionar{
    animation: redimensionar1 2000ms infinite ease-in-out;
}

.deformar{
    animation: deformar1 2000ms infinite ease-in-out;
}

.rotar{
    animation: rotar1 2000ms infinite ease-in-out;
}

@keyframes trasladar1 {
    0%{transform: translate3d(0,0,0);}
    30%{transform: translate3d(0,50%,0);}
    70%{transform: translate3d(0,50%,0);}
    100%{transform: translate3d(0,0,0);}
}

@keyframes redimensionar1 {
    0%{transform: scale(1);}
    30%{transform: scale(1.2);}
    70%{transform: scale(1.2);}
    100%{transform: scale(1);}
}

@keyframes deformar1 {
    0%{transform: skew(0,0);}
    30%{transform: skew(0,20deg);}
    70%{transform: skew(0,50deg);}
    100%{transform: skew(0,);}
}

@keyframes rotar1 {
    0%{transform: rotate3d(0,0,0,0);}
    30%{transform: rotate3d(0,0,1,270deg);}
    70%{transform: rotate3d(0,0,1,270deg);}
    100%{transform: rotate3d(0,0,0,0);}
}