.cuadrado{
    height: 100px;
    width: 100px;
    background-color: red;
    display: inline-block;
    margin: 20px 10px;
}

.trasladar{
    animation: trasladar1 2000ms infinite ease-in-out;
}


.redimensionar{
    animation: redimensionar1 2000ms infinite ease-in-out;
}

.deformar{
    animation: deformar1 2000ms infinite ease-in-out;
}

.rotar{
    animation: rotar1 2000ms infinite ease-in-out;
}

@keyframes trasladar1 {
    0%{transform: translate3d(0,0,0);}
    30%{transform: translate3d(0,50%,0);}
    70%{transform: translate3d(0,50%,0);}
    100%{transform: translate3d(0,0,0);}
}

@keyframes redimensionar1 {
    0%{transform: scale(1);}
    30%{transform: scale(1.2);}
    70%{transform: scale(1.2);}
    100%{transform: scale(1);}
}

@keyframes deformar1 {
    0%{transform: skew(0,0);}
    30%{transform: skew(0,20deg);}
    70%{transform: skew(0,50deg);}
    100%{transform: skew(0,);}
}

@keyframes rotar1 {
    0%{transform: rotate3d(0,0,0,0);}
    30%{transform: rotate3d(0,0,1,270deg);}
    70%{transform: rotate3d(0,0,1,270deg);}
    100%{transform: rotate3d(0,0,0,0);}
}




/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.circulo{
   background-color: red;
   margin-top: 20px;
   margin-left: 20px;
   width: 200px;
   height: 200px;
   border-radius: 50%;

    animation-name: circulo;
    animation-duration: 2s ;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: ; /* forwards --> se mantiene los estilos de la ultima animacion ;  backwards --> estilo inicial de la anim 0%
    va con la propiedad animation-delay */

    /* animation-timing-function: linear; */
/* } */

/* .circulo:hover{
    animation-play-state: paused;
}


 @keyframes circulo {
    from {
        /* transform: scale(1);  aumenta tamño en relaciona una escala*/ 
        /* transform: translateX(0); lo mueve en direccion x e y*/
  /*   }

    to{
       /*  transform: translateX(100%); */
   /*  } */
/* }  */ 